.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}

.video {
  width: 500px;
  height: 400px;
}

.controls {
  opacity: 0.5;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: -200px;
  background-color: black;
  box-shadow: 3px 3px 5px black;
  transition: 1s all;
  display: flex;
}

.controls button {
  border-radius: 10px;
}

.timer {
  line-height: 38px;
  font-size: 10px;
  font-family: monospace;
  text-shadow: 1px 1px 0px black;
  color: white;
  flex: 5;
  position: relative;
}

.timer div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  top: 0;
  width: 0;

  z-index: 2;
}

.timer span {
  position: absolute;
  bottom: -9px;
  z-index: 3;
  left: 19px;
}
